// fonts
$font-main: Roboto, Arial, Helvetica, sans-serif;
$font-title: 'Playfair Display', 'Times New Roman', serif;
$font-secondary: 'Big Shoulders Stencil Display', Arial;

// colors
$color-bg: #FAEDE6;
$color-primary: #214061;
$color-complementary: #FFBA9E;


/*
// fonts
$links-font: 'Caveat', cursive;
$main-font: 'Lato', sans-serif;

//Palette 1
$color-primary: #5f9595;
$color-secondary: #c2d7d0;
$color-tertiary: #efbc68;
$color-extra: #ffb7a1;
$color-basic: #ffffff;

//Palette 2
// $color-primary: #5f9595;
// $color-secondary: #c2d7d0;
// $color-tertiary: #efbc68;
// $color-extra: #ffb7a1;
*/